<html>
  <head></head>
  <body>
    <h3>Send page</h3>
    <p>Message data:</p><p id = "message">{{ title }}</p>
    <div id="content"> Waiting the receive page...</div>

    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <script>
        var senddata = JSON.stringify(0);
        var t1 = setInterval(query ,1000);
        function query() {
            $.ajax({
                url: "readytosend",
                type: "POST",
                data: senddata,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data != '0'){
                      document.getElementById("content").innerHTML ="channel number:" + data + "\nStart send the message...";
                      clearInterval(t1);
                      startsend();
                    }
                    
                }
            })   
        }
      function startsend(){
        console.log("in the startsend");
        var data = document.getElementById("message").innerHTML;
        console.log(data);
        console.log(data.length);
       
      }
 
    </script>
  </body>
</html>